body {
    background-color: black;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-right: auto;
    margin-left: 40px;
    gap: 10px;
    width: 80%;
    max-width: 600px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555655;
    color: white;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item:hover{background-color: rgb(255, 115, 0);}


#textOperand {
    width: 600px;
    height: 100px;
    margin: 40px ;
    font-size: 40px;
    color: white;
    background-color: black;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
    border: 2px solid #ccc; /* Optional: add a border to visually define the box */
}



#operand1 {
    width: 100px;
    height: 30px;
    margin: 40px ;
    font-size: 10px;
    color: black;
    background-color: white;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
    border: 2px solid #ccc; /* Optional: add a border to visually define the box */
}


#operator {
    width: 100px;
    height: 30px;
    margin: 40px ;
    font-size: 10px;
    color: black;
    background-color: white;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
    border: 2px solid #ccc; /* Optional: add a border to visually define the box */
}



#operand2 {
    width: 100px;
    height: 30px;
    margin: 40px ;
    font-size: 10px;
    color: black;
    background-color: white;
    display: flex; /* Use flexbox to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
    border: 2px solid #ccc; /* Optional: add a border to visually define the box */
}